.jewel{
    background-color: #232323;
}

.center{
    width: 75%;
    margin: 0 auto;
}

.blocks{
    display: flex;
    padding-top: 25px;
    padding-bottom: 22px;
    flex-wrap: wrap;
}
.block{
    width: 250px;
    height: 150px;
    background: #0F0E0E;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;

}
.col{
    display: flex;
    flex-direction: column;
}



.tesakani{
    color: #A67700;
    text-transform: capitalize;
    font-family: Montserrat arm;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
}
.tesak{
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Montserrat arm;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 21px;
}

.img1 img{
    width: 168px;
    height: 155px;
}
.img2 img{
    width: 182px;
    height: 142px;
}
.img1 img{
    width: 122px;
    height: 142px;
}
.img1 img{
    width: 142px;
    height: 129px;
}

#p{
    margin-left: -20px;
}