.settings{
    background-color: #232323;
}
.main{
    display: flex;
}

.first{
    background-color: black;
    width: 31%;
    margin-left: 50px;
    margin-top: 37px;

    padding-bottom: 120px;
}


.second{
    background-color: #181818;
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    width: 61%;
}
.titlef{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Montserrat arm;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-top: 29px;
}

.text{
    font-family: Montserrat arm;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 25px;
}

.inp{
    background: #C4C4C4;
    width: 120px;
    height: 39px;
    margin-left: 27px;
    margin-top: 25px;
    outline: none;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    padding-top: 47px;

}

.titles h2{


    font-family: Montserrat arm;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: start;

}
.titles{
    margin-left: 27px;
    padding-top: 35px;
}
#h2{
   padding-top: 53px;
}
#h3{
   padding-top: 59px;
}
#h4{
   padding-top: 47px;
}
#h5{
    padding-top: 63px;
}

#h6{


    font-family: Montserrat arm;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;

}
.price{
    margin-left: 41px;
}











.value{
    padding-top: 54px;
    color: white;
}

.val{
    padding-top: 54px;
    color: white;
}

.values{
    display: flex;
    justify-content: space-around;
}



.slider1 {
    background: linear-gradient(to right, yellow ,  yellow 90%);
    border: solid 1px yellow;
    border-radius: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    width: 243.5px;
    height: 6px;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: yellow;
    margin-left: -5px;
    cursor: pointer;
}



.slider2{
    background: linear-gradient(to right, yellow ,  yellow 90%);
    border: solid 1px yellow;
    border-radius: 8px;
    height: 6px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin-left: -4px;
    width: 243.5px;
}



.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: yellow;
    margin-left: -5px;
    cursor: pointer;
}


